mixin ceg(cegs, pageString)
  .cegi.cegi__notyetloaded
    .cegi__center Oh hello wonderful world
    .cegi__left
      a(href="" target="_blank").cegi__left-icon!=icon("link1")
    .cegi__right
      each tag in cegs.tags
        .cegi__right-pill(class=`cegi-shade${tag.code}`)=tag.word
    img(src=`https://ik.imagekit.io/o08ysq9vx/tr:w-.05,bl-100,q-05/${cegs.img}.png`, alt="" class="ceg__img" data-src=`https://ik.imagekit.io/o08ysq9vx/${cegs.img}.png` data-fnum=`${pageString}`)