extends ../base

block content
  h2.under Part 1
  p Let’s start in 2017.
  p Andrew Schulz has been killing in New York comedy clubs for over a decade.
  p But no network will give him a break.
  //- p But no network is interested.
  p So he films his own special, hands it to them on a plate. And they still say no.
  //- p So he takes matters into his own hands and films his own special. They still say no.
  //- p So he spends $30k filming his own special and hands it to them on a plate. They still say no.
  //- p 3 years later he's built!{' '}
  //-   span his own
  //-   |!{' '}media empire. And is one of the most watched comics on the planet. This is his story.
  //- p 3 years later he's one of the most watched comics on the planet. This is his story.
  //- h2.under Part 1 - Understanding comedy
  p Schulz is out of options. He knows he's on his own. So he wants to understand how people!{' '}
    span.italic actually
    |!{' '}watch comedy.
  p.inwardSpeech.list__bottom I asked all my friends about different specials and they all said the same thing, “Yeah it was good. But I didn’t finish it.”
  p.inwardSpeech.list__top People weren’t watching Chappelle for an hour. So there was no way they were going to watch me.
  p So Schulz cuts his special down to 15 minutes. And puts it up on YouTube for free. It starts getting views.
  p.inwardSpeech.list__top The networks didn’t want me. So I started treating my YouTube channel like my own network.
  p.inwardSpeech.list__bottom There was this rapper, Russ, who put out a song every week for free. And after a while it started catching on. So that was my mindset.
