extends ../base

block content
  h2 Coming soon
  //- p Last month Oasis legend Noel Gallagher had a few choice words for up and coming music star Lewis Capaldi:
  //- p.inwardSpeech Music is f*****g w**k at the moment. Whose this Capaldi fella? Who the f****s that idiot!
  //- p Capaldi’s response was nothing short of brilliant. Performing on&nbsp;
  //-   span.italic The Other Stage
  //-   |&nbsp;at Glastonbury he walked out to the video of Noel Gallagher’s criticism, dressed in a bucket hat and parka (a classic Gallagher outfit),  before dedicating his performance to Noel at the end.
  //- p Capaldi’s entrance went viral. It got his name all over the press and social media and won him lots of new fans.
  //- p Gallagher then responded by calling Capalidi,&nbsp;
  //-   span.italic F***ing Chewbacca
  //-   |. Within minutes Capaldi had changed his Twitter photo to Chewbacca and his name to Chewis Capaldi. Once again the press loved it.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc3.jpg", alt="Tweet Photo Before and After").img__80
  //- p Gallaghers criticism began as a negative. But in both instances Capaldi took ownership of it. He embraced it, wearing it as a badge of honor. And in doing so he became&nbsp;
  //-   a(href="https://fs.blog/2014/04/antifragile-a-definition/" target="_blank") antifragile
  //-   | .
  //-   The more you fucked with him the stronger he got.
  //- h2 Understanding Antifragility
  //- p In plain language&nbsp;
  //-   span.bold antifragility
  //-   |&nbsp;is the opposite of&nbsp;
  //-   span.bold fragility
  //-   | .
  //- p If you fuck with something fragile you do damage. If you fuck with something antifragile you make it stronger. Take golf as an example. The&nbsp;
  //-   span.bold fragile
  //-   |&nbsp;golfer loathes the wind. The&nbsp;
  //-   span.bold antifragile
  //-   |&nbsp;golfer uses it to their advantage.
  //- p And it’s the same with brands. The majority of brands are fragile. Increases in volatility (randomness, stressors, mistakes) are a PR departments worst nightmare. Just look at Facebook’s share price in 2018.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc2.png", alt="Tweet Photo Before and After").img__80
  //- p But occasionally, just like Lewis Capaldi or the skilled golfer playing in the wind, brands can actually benefit from increases in randomness, stressors or mistakes.
  //- h2 KFC
  //- p Last year KFC ran out of chicken and were forced to temporarily close 700 UK branches.
  //- p For any fragile company such a monumental fuck up would be a complete disaster. Imagine if Apple ran out of iPhones. The media would start asking questions, the share price would drop, people would get fired.
