extends ../base

block content
  h2.under 1/ Write how you text
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con9.png" alt="Andie's CEO email").img__100
  h2.under 5/ Be empathetic
  //- h2.under Wear your customers' shoes
  p All people want is to feel heard.
  //- p People buy when they feel heard
  p People buy from people they relate to.
  //- p People buy when they feel heard.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Andie's CEO email").img__100
  h2.under 4/ Tell stories
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con7.png" alt="Andie's CEO email").img__100
  h2.under 4/ Conversation means stories
  p
  h2.under 3/ Use contractions
  p Only politicians say “you are”
  //- p Fusing two words together makes them easier to read
  h2.under 4/ Read it aloud at the kitchen table
  //- h2.under 4/ Read your copy at the kitchen table
  //- p If it doesn't sound natural, re-write it.
  p If your partner cringes, re-write it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con5.png" alt="Andie's CEO email").img__100
  //- p Reframe a problem into a sentence people actually say
  h2.under 5/ Don't worry about grammar
  p If you break the rules you’ll sound human
  //- h2.under 9/ Be honest
  //- p It's easier to write non-fiction than fiction.
  //- p Writing fiction is a lot more difficult than non-fiction.
  //- p It's a lot more difficult to write fiction than non-fiction.
  h2.under 6/ Be honest
  p It's disarming.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.png" alt="Andie's CEO email").img__100
  //- p Customers respect honesty
  //- p Explain it like a real person
  h2.under 7) Be respectful
  h2.under 7) Conversational means respectful
  p It's a sign of self confidence.
  //- h2.under 5/ Respect the competition
  //- p It shows maturity.
  //- p It shows you're comfortable in your own skin.
  //- p Talk about your competitors like you would if you were sharing a beer. Never punch down
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con2.png" alt="Andie's CEO email").img__100
  h2.under 8/ Involve the reader in your copy
  p Good conversations aren't one-sided
  //- p No one likes a one-sided conversation
  //- h2.under 6/ Make the reader feel part of conversation
  //- p Good conversations aren't a one-way street
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  //- h2.under 6/ Invite the reader into the conversation
  //- p Good conversations aren't all about you
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  //- p More about them. Less about you.
  //- h2.under 6/ Less about you. More about them
  //- p The best copy makes the reader feel part of conversation
  //- p The best copy makes the reader feel part of conversation
  //- p Pulls the reader into the conversation
  h2.under 9/ Don’t try too hard
  p Conversation should feel natural.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con3.png" alt="Andie's CEO email").img__100
  h2.under 10/ Drop landing page cliches
  p Write it like a text message
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 11/ Don't persuade
  p Let the reader!{' '}
    span.italic be persuaded
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100