extends ../base

block content
  p Coming soon
  h2.under Don't be cocky
  h2.under Don't get arrogant
  p Conversational means humble
  p A humble line always feels warmer
  p Conversational means humble
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt11a.png" alt="Andie's CEO email").img__100