extends ../base

block content
  //- p Conversational copy is!{' '}
  //-   span.italic writing how you talk.
  //- //- p Not writing AT the customer. Instead engaging WITH the customer.
  //- p It works cause it treats customers!{' '}
  //-   span.italic like people
  //-   | .
  //- p It works cause it reflects how we use the web!{' '}
  //- p If you plough in with a sales megaphone you get ignored.
  //- p But that's easier said than done. So here's my guide.
  h2.under 1/ Start sentences with conjunctions
  //- p b) Real conversation doesn't fit into contained sentences
  p a) It's flows better
  p b) It reflects how we talk
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con17a.png" alt="Andie's CEO email").img__100
  h2.under 2/ Empathise
  h2.under 2a/ Wear your customers' shoes
  p a) Customers want to feel heard.
  p b) People buy from people who they can relate to.
  p c) Understanding your customer is more important than impressing them.
  //- p When readers feel you understand their problem, their happy to listen to your solution.
  //- p Making your customer feel heard is more important than impressing them.
  //- p All people want is to feel heard.
  //- p People buy when they feel heard
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Andie's CEO email").img__100
  //- p Customers see through exaggeration.
  //- p It shows maturity.
  h2.under 14/ Don't conform
  p a) Conversation needs personality.
  p b) Conversation shouldn't be duplicable.
  p c) If you sound like everyone else you haven't found your voice.
  //- p.inwardSpeech You're alive in inverse proportion to the density of cliches in your writing — Nassim Taleb
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 10/ Embrace your flaws
  p Little exaggerations kill trust.
  h2.under 10/ Write it like a text message
  //- p What it signals is 10 times what you sacrifice.
  p It builds trust
  p No example
  h2.under 10a/ Be honest
  p It's disarming.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.png" alt="Andie's CEO email").img__100
  //- p It's easier to write non-fiction than fiction.
  //- p Writing fiction is a lot more difficult than non-fiction.
  //- p It's a lot more difficult to write fiction than non-fiction.
  //- h2.under 9/ You can't miss if you use you're customer's words
  h2.under 12/ Let the customer do the work for you
  //- p a) And you can't get miss
  p a) And you can't get the tone wrong.
  p b) It's the easiest way to get the tone right.
  p c) They’re your best copywriter
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con12a.png" alt="Andie's CEO email").img__100