extends ../base

block content
  p Back
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi1.png" alt="Go viral with Hunter.io").img__60
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi3.png" alt="Go viral with Hunter.io").img__100