extends ../base

block content
  p When writing cold emails half the battle is avoiding getting it thrown into the trash after ten seconds.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gusto2.png", alt="Gusto Dog Cold Email").img__90
  p In this example, the absurdity of the opening paragraph and dog picture is enough to put a smile on your face and critically&nbsp;
    span.bold get your attention.
  p I'm also a fan of asking the recipient to score their “current payroll provider” before going into the pitch.
  p Asking someone directly to switch payroll provider, the default response will always be no. But first, forcing them to think back to their current provider, you're more likely to&nbsp;
    span.bold uncover some pain
    | , and persuade them. It's the sort of experiment you'd read about in a behavioral psychology textbook.
  p I do think the CTA could be improved here, however. Requesting a “quick conversation” is a bit vague. There's no additional information on how to instigate that conversation. Adding something like:
  p.inwardSpeech I'm around all next week, so feel free to give me a call on +44 7463 686533 ...
  p would be an improvement. When cold emailing you need to make the CTA as&nbsp;
    span.bold simple as possible
    | &nbsp;to follow.