extends ../base

block content
  p Coming soon
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy.mp4" class="img__50" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/jr.jpg" onclick="this.paused ? this.play() : this.pause();")