extends ../base

block content
  p I don’t need to tell you that GIF’s have taken over.
  p Each day 7 billion are “served” to 500 million people worldwide. Where do they come from? Well, it’s Giphy.
  p Their API powers pretty much every messaging app out there: Facebook, Instagram, Snapchat, Twitter, Tinder, WatsApp and Tik Tok. You get your GIF on Giphy you get it everywhere
  p This has opened up quite a novel way for brands to get exposure.
  p All you need is a Giphy Brand account. Then any GIF you upload is public on the Giphy search engine. And there’s nothing to stop you dropping in your logo, product or URL:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy1a.jpg" alt="Marketing Examples Product Hunt").img__95
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" class="img__70" playsinline="playsinline" loop controls)
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" loop controls)