extends ../base

block content
  //- p Fitness instructor, Joe Wicks, was preparing for a nationwide tour of UK schools.
  p March, 2020. Fitness instructor, Joe Wicks, was putting the finishing touches to his nationwide tour of UK schools.
  p Coronavirus hit. The schools closed. Joe’s tour was cancelled.
  //- p It looked like a disaster. But Joe saw an opportunity.
  p It looked like a disaster. But Joe had an idea.
  p Parents were under pressure. He could be “the nation's P.E. teacher”. 30 minute workouts for kids, every morning, live on YouTube.
  p He could be “the nation's P.E. teacher”. 30 minute workouts for kids, every morning, live on YouTube.
  p 30 minute workouts for kids, every morning, live on YouTube. He could be “the nation's P.E. teacher”.
  p
    span.italic P.E. with Joe
    |!{' '}was born. And it's taken the nation by storm.
  //- p Joe's workouts are pulling in 2M views, he's been all over maintream media, and his followers have skyrocketed:
  //- p With parents under pressure, he could take over for 30 minutes each morning with a live YouTube workout for kids.
  //-   span.italic P.E. with Joe
  //-   |!{' '}was born.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw3.png" alt="Marketing Examples Product Hunt").img__100
  p So, how did Joe Wicks start a movement?
  //- p So, how did Joe become “the nation's P.E. teacher”?
  h2.under 1) Clear and consistent messaging
  p If you want to spread a message
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw4.jpg" alt="Marketing Examples Product Hunt").img__100