extends ../base

block content
  p January 2018. Mark Hoyle was a graphic designer with fifty thousand YouTube subscribers.
  p Last week he and his wife Rox beat Mariah Carey to win their third consecutive UK Christmas No.1.
  //- p All with an iPhone and the power of vlogs.
  p The story is a masterclass in!{' '}
    span.italic building in public
    | .
  h2.slab.bg1 Let’s start from the beginning.
  p December 9th. Mark announces he’s trying to win Christmas No.1. And a few days he launches the song. A sausage roll themed parody of “We Built This City on Rock and Roll”.
  p It's both relatable and ridiculous. And starts gaining momentum.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  p And then, the vlogs start.
  p The vlogs aren't anything special. Just 2 minutes on an iPhone with something silly to promote the song.
  p But they're raw. And you can't help feel part of their journey.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  //- p It's reality TV.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad3.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad3.png" onclick="this.paused ? this.play() : this.pause();")
  p The great thing about bringing people on the journey is they'll help you bring even more people.
  p Mark's the king of this. Watch how he motivates his followers to get #LadBaby trending on Twitter. All perfectly timed for their song launch.
  p
    span.italic PS: Mark's also known as LadBaby
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad4.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad4.png" onclick="this.paused ? this.play() : this.pause();")
  p Here's where it gets tactical. The way the UK charts are calculated 1 paid download equals 100 streams.
  p Mainstream artists focus on streams. Mark and Rox focus on downloads. Every vlog, radio, TV appearence are mini-adverts to purchase the track.
  p Based on streaming numbers they don’t make the charts. But their hardcore fans downloading makes them pretty much untouchable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad5.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg1 So there you go
  //- p So this is a story about a regular family from Nottinghamshire. It's really the blueprint for anyone wanting to start anything.
  p Mark and Rox's story isn't really about Christmas No.1. It's a lesson for anyone wanting to start anything.
  p Tell your story. The highs and lows. All in public. People will come on the journey. And you’ll create a connection that companies can’t replicate.
  p Don't believe me? Watch Mark and Rox’s livestream the moment they found out they were No. 1.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad6.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad6.jpg" onclick="this.paused ? this.play() : this.pause();")


