extends ../base

block content
  p January 2018. Mark Hoyle was a graphic designer with fifty thousand YouTube subscribers.
  p Last week he and his wife Rox beat Mariah Carey to win their third consecutive UK Christmas No.1.
  p The story is a masterclass in!{' '}
    span.italic building in public
    | . All with the power of vlogs!
  h2.slab.bg1 Let’s start from the beginning.
  p December 9th. Mark announces he’s trying to win Christmas No.1.
  p The next day he bets on himself to win, teases a snippet with Santa, and tells his audience to tune in Friday 9AM.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  p Friday 9AM, Mark launches the song. It's a sausage roll themed parody of “We built this city on Rock and Roll”.
  p Both relatable and ridiculous. And people can't stop sharing it.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  p Monday afternoon Mark and Rox livestream the BBC's chart update and somehow they’re No.2.
  p So Mark takes the day off work, drives to London, and tries to get on TV. The next day he wants to do the same but he’s run out of holiday from work.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  p And here's the thing. The vlogs aren't fancy. Just two minutes on an iPhone. But they're raw. And you can't help get swept up in their journey.
  h2.slab.bg4 4/ Galvanize followers
  p The great thing about bringing people on the journey is they'll help you bring even more people.
  p Mark's the king of this. Watch how he motivates his followers to get #LadBaby trending on Twitter. Perfectly timed for their song launch.
  p
    span.italic PS: Mark's also known as LadBaby
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad4.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad4.png" onclick="this.paused ? this.play() : this.pause();")
  h2.slab.bg5 5/ Know what turns the needle
  //- p Momentum or not, there's no way Mark and Rox can outstream Mariah Carey.
  p Here's where it gets tactical. The way the UK charts are calculated 1 paid download equals 100 streams.
  p Mainstream artists focus on streams. Mark and Rox focus on downloads. Every vlog, radio, TV appearence are mini-adverts to purchase the track.
  p Based on streaming numbers they don’t make the charts. But their hardcore fans downloads makes them pretty much untouchable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad5.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg1 So there you go
  //- p So this is a story about a regular family from Nottinghamshire. It's really the blueprint for anyone wanting to start anything.
  p Mark and Rox's story isn't really about Christmas No.1. It's a lesson for anyone wanting to start anything.
  p Tell your story. The highs and lows. All in public. People will come on the journey. And you’ll create a connection that companies can’t replicate.
  p Don't believe me? Watch Mark and Rox’s livestream the moment they found out they were No. 1.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad6.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad6.jpg" onclick="this.paused ? this.play() : this.pause();")


