extends ../base

block content
  p To quote the legendary David Ogilivy:
  p.inwardSpeech Five times as many people read the headline as read the body copy. When you have written your headline, you have spent eighty cents out of your dollar.
  p So
