extends ../base

block content
  h2.h2start What are long-tail keywords?
  p Long-tail keywords are keyword phrases typically made up of three or more words. They are the least competitive keyword phrases to rank for and hence great to drive organic traffic to your website.
  p For example whilst it would be highly improbable that someone starting a new cookery blog could rank for “pancake recipe” (short tail / too competitive), it is possible that they could rank for “blueberry pancake recipe” (long tail / less competitive) and drive organic traffic to their site.
  h2 Nomad List
  p Ok, so Nomad List is a crowdsourced database aggregating the best cities for Digital Nomads to live or work in remotely. You can filter these cities by hundreds of different data points, for example air quality, cost of living, LGBT friendly, etc …
  h2 SEO Magic