extends ../base

block content
  p Back in 2017,&nbsp;
    a(href="https://ramptshirts.com/" target="_blank") Ramp
    | &nbsp;sent 50,000 emails to companies hoping to sell some personalised t-shirts.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rampt1.png", alt="Rampt T-Shirts Cold Email").img__85
  h2 The Email itself
  p Firstly, the subject line is great. Certainly enough to&nbsp;
    span.bold get your attention
    | .
  p They then acknowledge  that, “Nobody likes cold emails”. I like this line. Adressing the elephant in the room head on is the best way to try and kick it out.
  p The centerpiece is obviously the photo of the founder wearing a t-shirt with your companies logo on. It piques your interest, forcing you to read on, and&nbsp;
    span.bold smoothly transitions
    | &nbsp;into the “the sales pitch”.
  p The tweet containing the stopwatch acts as great social proof, particularly useful given the skepticism around cold emails.
  p My only criticism is I do think the email goes on too long.&nbsp;
    span.bold Brevity should be a priority
    | &nbsp;when writing cold emails.
  h2 Content Marketing - 2nd Order Benefits
  p When you successfully pull of a stunt like this, there's also the 2nd order benefits of all the great content you can produce as a result. Ramp duly wrote an&nbsp;
    a(href="https://ramptshirts.com/blog/2018/01/12/wrote-sent-best-cold-email-ever/" target="_blank") excellent blog
    | &nbsp;about the campaign which was shared so widely it has been translated into&nbsp;
    a(href="https://www.lafabriquedunet.fr/email-marketing/articles/meilleur-email-prospection/" target="_blank") French
    | &nbsp;and&nbsp;
    a(href="https://omr.com/de/neil-cocker-email-marketing/" target="_blank") German
    | .
  p The story of this cold email is the top answer to the&nbsp;
    a(href="https://www.quora.com/Whats-the-best-cold-email-you-have-ever-read" target="_blank") Quora question
    | , "What's the best cold email you have ever read?" and the founder, Neil Cocker, has told this story at conferences and events across four different countries.
  p In fact, I wouldn't be surprised if Ramp made more money through circulation of this story than the email campaign itself.
  h2 SEO - 3rd Order Benefits
  p As you can see the cold email blog pulled in 25 referring domains, more than the rest of Ramp T Shirt's blog combined.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ramp2.png", alt="Rampt T-Shirt Backlinks").img__90
  p Lots of high value backlinks, media and social shares will work wonders for Ramp's&nbsp;
    a(href="https://marketingexamples.com/seo" target="_blank") SEO
    | . Particularly useful given the competitiveness of keyword phrase: customised t-shirts.
  h2 Bold marketing is underrated
  p People are typically blinded to just the direct consequences of a marketing strategy, however, once you begin to analyse the 2nd and 3rd order effects you realise just how tremendously underrated original marketing is.
  p In my opinion original marketing is easiest pathway to great content marketing and huge SEO improvements.

