extends ../base

block content
  p Whenever someone asks me for feedback on their site I say:
  p.inwardSpeech Make it REALER
  p What does that mean?
  p Well, most marketing resembles the left-hand image.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  //- p.inwardSpeech Impressive. But forgettable. 370 votes.
  //- p Making it REAL
  h2.under 1) A real landing page
  p Real people don’t care about buzzwords and graphics. They care about selling stuff, real customers, and 5* reviews
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.png" alt="Passive voice").img__100
  h2.under 2) A real newsletter
  p
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.png" alt="Passive voice").img__100
  h2.under 6) Social proof
  p For his latest book, Nassim Taleb, replaced praise from Forbes et al. with words from real readers.
  p Readers connect with new readers. The Economist  Forbes et al.  would write some pretentious bs that
  p REAL means lots of social proof. But it also means real custo
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4a.png" alt="Passive voice").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs5.png" alt="Passive voice").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs6.png" alt="Passive voice").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs7.png" alt="Passive voice").img__100
  p Make it realer