extends ../base

block content
  p Most companies look like the left-hand image.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  p.innerSpeech Impressive. But forgettable.
  p Making it
  h2.under 1) Real people don’t care about buzzwords and graphics
  p They care about selling stuff, real customers, and 5* reviews
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.png" alt="Passive voice").img__100
  h2.under 2) Real people don’t care about newsletters
  p They care about
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs5.png" alt="Passive voice").img__100
  h2.under 3) Real people bring your content to life
  p Look at these images.
  p Same title. Same painting. Same subreddit. One gets 300 votes. The other 70,000.
  p Yet most companies look like the left hand image.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  h2.under 4) Real people don’t care about professionalism
  p Before the 2019 UK election People’s Vote ran an ad campaign encouraging people to vote.
  p They paid an agency £20,000 for a fancy video. They also asked staff to record selfies on their way to work.
  p After 24 hours they’d pulled they’d pulled the agency video.
  h2.under 6) There's nothing realer than your own readers words
  p For his last book, Nassim Taleb, replaced endoresments from Forbes et al. with words from real readers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4a.png" alt="Passive voice").img__100
  h2.under 7) Real people like real images
  p Back in the 1980's all fashion catalogues looked the same. Paid models, posing for the camera.
  p Patagonia’s founder, Mr Chouinard, didn’t like it. But he copied it.
  p Unitil, one day out surfing, he had an idea.
  p What if every photo was of a real customer.
  p He placed a notice in their catalogue asking customers to send in photos.
  p Thousands were sent in. And Patagonia’s 1981 catalogue looked nothing like any of its competitors.
  p The catalogue remains a core of Patagonia’s business. And they still only use photos of real customers.
  h2.under 8) There's nothing realer than your own readers words