extends ../base

block content
  p
    span.italic Intro coming soon
  h2.under 1) JobBoardSheet
  p Coming soon.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie1.png" alt="Volkswagon old ads").img__100
  h2.under 2) Silva
  p Coming soon.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie3.png" alt="Volkswagon old ads").img__100
  h2.under 3) Dormio
  p Coming soon.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie6.png" alt="Volkswagon old ads").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie6a.png" alt="Volkswagon old ads").img__100
  h2.under 4) Haako
  p Coming soon
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie5.png" alt="Volkswagon old ads").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie5a.png" alt="Volkswagon old ads").img__100
  h2.under 5) Ladybird driving school
  p Coming soon.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie4.png" alt="Volkswagon old ads").img__100
  h2.under 6) Banquist
  p one or the other (we'll decide)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie2a.jpg" alt="Volkswagon old ads").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie2.jpg" alt="Volkswagon old ads").img__100
  h2.under 7) IronNet
  p Coming soon. I'm trying to rewrite the subtitle to be more specific. As their's was meaningless. Will rustle something up.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie7.jpg" alt="Volkswagon old ads").img__100
  p
    span.italic Intro coming soon