extends ../base

block content
  p May 6th, I published!{' '}
    a(href="")
      span.italic 17 tips for great copywriting
    | .
  p
    span 72
    |!{' '}hours later!{' '}
    span 2,000
    |!{' '}new subscribers joined my email list.
  p This article explains how I promote my content online:
  //- p This article is a guide to sharing content online:
  //- p This is a step-by-step account:
  h2.under 1) Find Watering holes
  p Watering holes are the places where your audience hangs out. For me it’s marketers and entrepreneurs:
  h2.under 2) Give value on the platform
  p Most people walk in, drop their link, “cya later”!
  p This doesn’t work. People are busy. Nobody clicks random links.
  p You have to give value on the platform itself.
  h2.under 3) Tailor your content
  p Giving value on the platform means tailoring your content to the platform.
  p Twitter is not Facebook. Facebook is not Instagram. Instagram is not Slack.
  p Some platforms are suited to longform sharing. Some are suited to short form sharing.
