extends ../base

block content
  //- p This article is a guide to sharing content online:
  //- p This is a step-by-step account:
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000!
  p No ads. No connections. No existing audience.
  //- p I sat behind my computer and pushed my content all around the internet. Here's the step by step process:
  //- p The site grew from me sitting on my computer pushing content round the internet. Here's my process:
  p The site grew because I learnt how to push my content round the internet. Here's the process:
  h2.under Step 1 - The landscape
  p First, you found the different places where your audience hangs out online.
  p Then, you start hanging out there.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.png" alt="Marketing Examples Product Hunt").img__100
  h2.under Step 2 - Create value
  p
  p Most people think sharing content is dumping links. It's not.
  p You have to create value!{' '}
    span.bold on the platform itself
    | .
  p This means tailoring your content.
  p Some platforms like long form. Some short form. Some encourage self promotion. Some despise it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul2.png" alt="Marketing Examples Product Hunt").img__100
  //- p Twitter is not Facebook. Facebook is not Reddit. Reddit is not Slack.