extends ../base

mixin postBottom()
  p Earlier this year Baremetrics offered to share any exciting customer news or on their twitter page.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/use-intercom-to-build-goodwill1.png", alt="Baremetrics Intercom").img__65
  p Most of the time Intercom is used to close sales, so seeing a message with no alterior motive is memorable.
  p There’s a couple of smart things going on. I like it because the cost to Baremetrics is effectively zero, and the goodwill it builds subconciously pays off with reduced churns.
  p When you cancel your Amazon Prime, there’s no love lost. Now just before you cancel Baremetrics you’ll remember that lovely Hayley once tweeted about your startup.
  p Secondly it turns&nbsp;
    span.bold customers into fans.
    | &nbsp;Your down the pub that evening with a mate “Much go on today?” “Well Baremetrics tweeted about my startup, that’s something!”
  p When customers start selling your own product for you, you’ve done something right.

block content
  +postBottom()