extends ../base

block content
  //- p You have a content marketing strategy. You have a PPC strategy. You have a social strategy. You don't have a word of mouth strategy.
  //- p Well executed word of mouth strategies pull in customers just as reliably as paid ads or a well ranked blog post.
  h2.under 1) The Doubletree Cookie
  //- p
  //-   a(href="") Hilton Doubletree
  //-   |!{' '}is hotel chain. On check in every single guest gets given a warm chocolate chip cookie.
  p On check in at any Hilton Doubletree hotel every single guest gets given a warm chocolate chip cookie.
  p 75,000 are given out each day. One in three guests tell their friends. That's 25,000 stories being told about Doubletree,!{' '}
    span every single day
    | .
  p The unit cost of a cookie is $0.20.
  //- p Safe to say they don't advertise too much.
  //- p The cost per cookie is just $0.20. And, quite frankly, it’s more memorable than being told by reception that your rooms just had a $20,000 renovation.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/skips1b.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 2) Skip's Kitchen
  p Skip’s is a classic Californian burger restaurant. Except just before you pay the waiter pulls out a deck of cards. If you pick the joker your meal is free.
  p 2% of customers win. The financial cost to Skip's is just $2 for every $100 spent.
  p They'd never had to spend a single penny on advertising.
  //- p On average 2% of customers win. The financial cost is $2 for every $100 spent.
  h2.under 3) The Neptune Theatre
  p In 1973, John Neville took over as director of the Neptune Theatre.
  p Every time a new show opened, he'd give free tickets to local taxi drivers and thier famailies. In return they'd talk up the shows to their passengers.
  //- p He got into a habit of giving free tickets to local taxi drivers. In return they'd talk up the shows to their passengers.
  //- p He got into a habit of giving free tickets out to local taxi drivers. In return they'd talk up the shows to their passengers.
  p Two years later theatre subscriptions had doubled.
  //- p Two years, and thousands of free tickets later, theatre subscriptions had doubled.
  h2.under 4) Penn & Teller
  //- p At the end of every single live show for the past 45 years the magicians Penn and Teller dash up the center aisle of the theatre, and wait in the foyer to greet their fans.
  p Every Penn & Teller show ends the same way. The magicians dash up the center aisle of the theatre, and wait in the foyer to greet their fans.
  //- p They take selfies, shake hands, and answer questions. Customers turn into fans, one by one.
  p They take selfies, shake hands, and answer questions. Each night 200 customers leave with a story to tell.
  p That's how you become the longest running headline act in Vegas history.
  //- p It's not surprising they're the longest running headline act in Vegas history.
  //- p They take selfies, shake hands, and answer questions. Every night 200 people walk in customers and leave as fans.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/skips5.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under Call to arms
  p Word of mouth strategies pull in customers just as reliably as paid ads. For a small fraction of the cost.
  p Yet, their neglected. Most marketers are shackled to what!{' '}
    span.italic most marketers
    |!{' '}are doing.
  p The deftest of touches is all it takes. Empower customers to share your creativity.
  //- p The deftest of creative touches is all it takes to empower an army of fans.
  p Pay Facebook to share your Ads. Or empower customers to share your creativity.

