extends ../base

mixin postBottom()
  p Pretty simple this one. Veed were sick and tired of not getting a reply to an email they wrote, so they decided to print out their message and attach it to a homing pigeon, like the good ol' Roman days.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pigeon.jpg", alt="Veed - Send a Pigeon").img__75
  p It goes without saying that the sheer shock value of receiving a message this way is enough to get your attention.
  p Your also far more likely to get a thoughtful reply. The extra effort taken&nbsp;
    span.bold increases the perceived value
    | &nbsp;of the message:
  p.inwardSpeech Bloody hell, if they went to all this trouble this must be important.
  p It's much harder to shrug off this request with a simple, "Thanks, but we're too busy at the minute."
  p Not only did Veed achieve their primary goal, they also benefitted from the content they generated off this stunt. They wrote a&nbsp;
    a(href="https://www.veed.io/blog/pigeon" target="_blank") blog
    | , made a&nbsp;
    a(href="https://www.youtube.com/watch?v=gP1kOBi9X7I" target="_blank") YouTube video
    | &nbsp;and most impressively launched&nbsp;
    a(href="https://www.veed.io/pigeon/?ref=producthunt" target="_blank") Pigeon Mail
    | &nbsp;on Product Hunt, all&nbsp;
    span.bold linking back
    | &nbsp;to their video editing product.
  p Creating interesting content and side projects is one of the most foolproof tactics to attract a new audience and ultimately grow your business.
  p The increased page views and backlinks also have plenty of SEO merit.

block content
  +postBottom()