extends ../base

block content
  p When I left university my friend Giles and I set up&nbsp;
    a(href="https://cryptic-tundra-74488.herokuapp.com/" target="_blank") 140 Canvas
    | , a small business allowing anyone to design their own tweets and purchase them as canvas prints.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas1.jpg" alt="140 Canvas Website").img__85
  p By late 2017 sales were dwindling. We had just £200 left in the budget and desperately needed to get eyeballs on our product in the run up to Christmas.
  h2 Giles' Idea
  p Thankfully Giles had come up with an idea. He showed me&nbsp;
    a(href="https://youtu.be/uOFDmbUlrT4?t=392" target="_blank") a video
    |&nbsp;from Casey Neistat’s YouTube channel where he opens fan mail on camera. He said all we'd have to do is post one of our canvases to Casey, he’d open it up on camera, we’d get mega exposure and the money will come rolling in.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas2.jpg" alt="Mailtime Canvases").img__85
  p We both started laughing. It seemed like a long shot, but I guess it was better than sitting around doing nothing. We quickly discovered that opening fan mail on camera wasn’t&nbsp;
    span.bold just
    |&nbsp;something Casey Neistat did, but a broader YouTuber phenomenon called&nbsp;
    a(href="https://www.youtube.com/results?search_query=mail+time" target="_blank") Mail Time
    | . So Giles' little idea became a bigger idea.
  p We found ten YouTubers who did regular Mail Time videos, wrote ten funny tweets, printed them off as A1 Canvases, and shipped them to the POBoxes of YouTubers around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas4.jpg" alt="Mailtime Wrapping").img__55
  h2 The views
  p A couple of weeks passed and a YouTuber called Chilly does a&nbsp;
    a(href="https://youtu.be/5hruIuLLR4o?t=152" target="_blank") MailTime video
    |&nbsp;and opens our canvas on camera. Not only did she give us more than 4 minutes airtime, she was so blown away that she gave a free shoutout to our website in the description and pinned my comment to the top of her video. This video ended up on&nbsp;
    span.bold 3.3 million
    |&nbsp;views.
  p A few more weeks passed and another YouTuber called Sodapoppin opens our canvas on camera.&nbsp;
    a(href="https://youtu.be/5hruIuLLR4o?t=152" target="_blank") That video
    | &nbsp;ended up with&nbsp;
    span.bold 400k views
    | .
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/140canvas.mp4" class="img__75" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/140canvasposter.jpg" controls="controls")
  p And that was that. £250 spent. 2/10 canvases opened. 20% hit rate. 3.7 million views. Can't really complain.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas3.jpg" alt="Mailtime Wrapping").img__80
  p COming soon