.fillSVG
  & > *
    fill: $black

.strokeSVG
  & > *
    stroke: $black

.gmLogoSmallSVG
  width: 4.4rem
  @media screen and (max-width: 768px)
    width: 4.2rem

// home
.twitterSVG
  height: 2.1rem
  @media screen and (max-width: 768px)
    height: 2.1rem
  & > *
    fill: $brand

.gif__inner-header-tweet
  .twitterSVG
    height: 2.1rem
    @media screen and (max-width: 768px)
      height: 2.1rem
    & > *
      fill: $white

.slackSVG
  height: 2.5rem
  @media screen and (max-width: 768px)
    height: 2.3rem
  & > *
    fill: #333


// .ideaSVG
//   transform: translateY(1px)


// cross
.mail__icon
  .crossSVG
    width: 1.7rem
    & > *
      fill: $black

.outerPost__close
  .crossSVG
    width: 2.2rem
    & > *
      fill: $black
  @media screen and (max-width: 768px)
    .crossSVG
      width: 1.7rem
      & > *
        fill: $white