$black: #030212
$white: #fff
$brand: #4742DE
$grey: #808D9A

$bgActive: #F0F7FB
$border: #e1e1e1

$borderLB: #DDDDFF
$dark: #0D1626

$cegb: #fafafa

$ceg1: hsla(156, 50, 59, .8)
$ceg2: hsla(360, 100, 61, .5)
$ceg3: hsla(174, 84, 46, .6)
$ceg4: hsla(339, 100, 51, .4)
$ceg5: hsla(242, 70, 56, .50)

$ceg1o: hsla(156, 50, 59, .24)
$ceg2o: hsla(360, 100, 61, .15)
$ceg3o: hsla(174, 84, 46, .20)
$ceg4o: hsla(339, 100, 51, .16)
$ceg5o: hsla(242, 70, 56, .12)

$ceg1h: hsla(156, 50, 59, .32)
$ceg2h: hsla(360, 100, 61, .20)
$ceg3h: hsla(174, 84, 46, .26)
$ceg4h: hsla(339, 100, 51, .21)
$ceg5h: hsla(242, 70, 56, .17)

$cegblack: #212121