$black: #030212
$white: #fff
$brand: #4742DE
$grey: #808D9A

$bgActive: #F0F7FB
$border: #e1e1e1

$borderLB: #DDDDFF
$dark: #0D1626

$cegb: hsla(0, 0, 97, 1)

// borders

$ceg1: hsla(154, 50, 59, .8)
$ceg2: hsla(360, 100, 61, .5)
$ceg3: hsla(230, 78, 59, .50)
$ceg4: hsla(339, 100, 51, .40)
$ceg5: hsla(174, 84, 46, .6)
$ceg6: hsla(59, 90, 50, .70)
$ceg7: hsla(202, 100, 49, .50)

// starting opacities

$ceg1o: hsla(154, 50, 59, .24)
$ceg2o: hsla(360, 100, 61, .20)
$ceg3o: hsla(230, 78, 59, .18)
$ceg4o: hsla(339, 100, 51, .15)
$ceg5o: hsla(174, 84, 46, .22)
$ceg6o: hsla(59, 90, 50, .23)
$ceg7o: hsla(202, 100, 49, .19)
// $ceg8o: hsla(120, 100, 46, .15)

$ceg3ox: hsla(230, 78, 59, .30)
$ceg4ox: hsla(310, 76, 51, .18)
$ceg5ox: hsla(174, 84, 46, .20)
$ceg6ox: hsla(59, 90, 50, .16)
// hover opacities

$ceg1h: hsla(154, 50, 59, .30)
$ceg2h: hsla(360, 100, 61, .20)
$ceg3h: hsla(230, 78, 59, .24)
$ceg4h: hsla(339, 100, 51, .21)
$ceg5h: hsla(174, 84, 46, .25)
$ceg6h: hsla(59, 90, 50, .30)
$ceg7h: hsla(202, 100, 49, .24)
$ceg8h: hsla(120, 100, 46, .24)

$cegblack: #212121