mixin podcastEp
  .pe
    .pe__left
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/podcast/e001.jpg", alt="George Mack")
      .pe__left-tape
    .pe__right
      .pe__right-title How to grow a social media following with George Mack
      .pe__right-para Dave Sims has bootstrapped two tech companies to millions of dollars in annual revenue, and with the help of his wife and co-CEO, he's running them both at the same time. With his latest business, Floify …
      .pe__right-dt November 18th, 2019
        span •
        | 30 minutes