.thTop
  width: 60rem
  margin: 12.2rem auto 0rem auto
  @media screen and (max-width: 768px)
    width: 100%
    margin: 10.7rem auto 0rem auto
  h1
    font-size: 2.4rem
    font-weight: 700
    color: $black
    margin-bottom: 1.8rem
    line-height: 3rem
    @media screen and (max-width: 768px)
      display: none
      padding: 0 1.8rem
      text-align: center
      // font-size: 2.2rem
  .small
    display: none
    @media screen and (max-width: 768px)
      display: block
  p
    font-weight: 400
    font-size: 1.8rem
    color: $black
    padding: 0.7rem 0
    @media screen and (max-width: 768px)
      padding: 0.7rem 2rem
      // font-size: 1.7rem

.thTags
  padding: 4rem 0 2.2rem 0
  background-color: white
  @media screen and (max-width: 768px)
    padding: 2rem 0 2.2rem 0
  &__inner
    margin: 0 auto
    width: 81rem
    display: flex
    justify-content: center
    flex-wrap: wrap
    @media screen and (max-width: 768px)
      width: 100%
  &__tag
    padding: 0.8rem 1.5rem
    display: flex
    justify-content: center
    font-size: 1.4rem
    font-weight: 500
    border-radius: 100px
    color: $black
    margin: 0.4rem
    &:hover
      opacity: 0.9
      cursor: pointer
      transition: all 0.2s

.thArrow
  margin: 2rem auto
  display: flex
  width: 5rem
  transform: rotate(5deg)
  @media screen and (max-width: 768px)
    width: 4rem

.thc1
  background-color: hsla(326, 76, 51, .16)
.thc2
  background-color: hsla(174, 84, 46, .22)
.thc3
  background-color: hsla(360, 100, 61, .21)
.thc4
  background-color: hsla(140, 55, 55, .21)
.thc5
  background-color: hsla(244, 72, 59, .16)


.thLay
  margin: 0 auto
  &__section
    padding: 4rem 0 3.6rem 0
  &__top
    width: 60rem
    margin: 0 auto
    @media screen and (max-width: 768px)
      width: 100%
  h1
    margin-bottom: 2rem
    font-weight: 700
    color: $black
    padding: 1.1rem 1.4rem .9rem 1.4rem
    display: inline-flex
    justify-content: center
    font-size: 1.8rem
    transform: rotate(-1deg)
    @media screen and (max-width: 768px)
      margin-left: 1.8rem
      // font-size: 1.7rem
  p
    font-size: 1.8rem
    font-weight: 400
    padding: 0.7rem 0
    color: $black
    @media screen and (max-width: 768px)
      padding: 0.7rem 1.8rem
      // font-size: 1.7rem
    .italic
      font-style: italic

.thSection
  display: flex
  padding-top: 3.1rem
  width: 80rem
  margin: 0 auto
  @media screen and (max-width: 768px)
    width: 100%
  img
    width: 100%