mixin menu
  .menu
    .menu__inner
      a.menu__logo(href="/")!=icon("meLogoBig")
      .menu__inner-right
        a.menu__inner-right-text(href="/podcast") Podcast
        a.menu__twitter(href="https://twitter.com/GoodMarketingHQ")!=icon("twitter")

