mixin ph()
  a.ph(href="https://www.producthunt.com/posts/marketing-examples-2" target="_blank")
    //- .ph__sticker.ph__sticker__left 🎉
    .ph__text We’re live on!{' '}
      span Product Hunt
      |!{' '}right now
    //- .ph__sticker.ph__sticker__right 🎉