mixin ph()
  a.ph(href="https://www.producthunt.com/posts/my-twitter-inspiration-handbook" target="_blank")
    .ph__sticker.ph__sticker__left 🎉
    .ph__text Live on Product Hunt.!{' '}
      span Show some love
    .ph__sticker.ph__sticker__right 🎉

mixin phBase()
  a.ph(href="/handbook/twitter-inspiration")
    .ph__sticker.ph__sticker__left 🎉
    .ph__text My Twitter Inspiration Handbook is live.!{' '}
      span Check it out
    .ph__sticker.ph__sticker__right 🎉