extends base

include ./mixins/mail

block content
  .iosOverflow
    .slack
      p Hi. There is no Slack atm. I'm a member of a bunch of Marketing Slack groups and they all just get overloaded with self-promotion.
      br
      br
      p I'm thinking about making the Slack a paid channel, to filter out the bs, and so people can actualy have genuinely useful discussions.
      br
      br
      p Also thinking about bundling the Slack group with premium memberships where some of the best articles will go. If this might interest you please dm me&nbsp;
        a(href="https://twitter.com/harrydry" target="_blank").slacka @harrydry
        |&nbsp;on twitter. Some places will be given out free.
      br
      br
      p Cheers, Harry
      br
      br
      p To go back to the website,&nbsp;
        a(href="/").slacka click here :)
    +mail()