
extends base

block content
  .iosOverflow.cc
  .bestof
    a.ccc-logo.bestof-logo(href="/")!=icon("gmLogoSmall")
    p Hey — You've been added to the!{' '}
      span.italic Best of Marketing Examples
      |!{' '}series.
    p The first email will be with you next Monday.
    p Cheers —!{' '}
      a(href="https://twitter.com/harrydry") Harry