extends base

include ../general/menu

block content
  +menu()
  .th.thSection
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | &#x1F525; Too many borders can make a design look really busy. Here&apos;s a few ideas that are a bit more subtle:
        a(href='https://t.co/JEIrjAS5YL') pic.twitter.com/JEIrjAS5YL
      | &mdash; Steve Schoger (@steveschoger)
      a(href='https://twitter.com/steveschoger/status/897849211110273024?ref_src=twsrc%5Etfw') August 16, 2017
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | 4 Awesome Grilled Cheese Hacks
        a(href='https://t.co/Ctqa4GOace') pic.twitter.com/Ctqa4GOace
      | &mdash; Tasty (@tasty)
      a(href='https://twitter.com/tasty/status/1084366965404241920?ref_src=twsrc%5Etfw') January 13, 2019
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | Work vs. luck.
        a(href='https://t.co/kGpFIkG2r0') pic.twitter.com/kGpFIkG2r0
      | &mdash; Visualize Value (@visualizevalue)
      a(href='https://twitter.com/visualizevalue/status/1325446632566099968?ref_src=twsrc%5Etfw') November 8, 2020
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | Cold emails shouldn&apos;t be cold
        a(href='https://t.co/MICSivkKHv') pic.twitter.com/MICSivkKHv
      | &mdash; Harry&apos;s Marketing Examples (@GoodMarketingHQ)
      a(href='https://twitter.com/GoodMarketingHQ/status/1318529112454123521?ref_src=twsrc%5Etfw') October 20, 2020
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | Congratulations, Serena - there&apos;s a spot reserved in the player&apos;s box &#x1F476;
        a(href='https://twitter.com/hashtag/Wimbledon?src=hash&ref_src=twsrc%5Etfw') #Wimbledon
        a(href='https://t.co/D8xIB3zY52') pic.twitter.com/D8xIB3zY52
      | &mdash; Wimbledon (@Wimbledon)
      a(href='https://twitter.com/Wimbledon/status/908369343087468544?ref_src=twsrc%5Etfw') September 14, 2017
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    blockquote.twitter-tweet
      p(lang='en' dir='ltr')
        | It&apos;s the first Monday of 2020. You&apos;ve got this.
        br
        br
        | Love,
        br
        | Coffee &#x2615;&#x1F49A;
      | &mdash; Starbucks Coffee (@Starbucks)
      a(href='https://twitter.com/Starbucks/status/1214184421739220992?ref_src=twsrc%5Etfw') January 6, 2020
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')