
extends base

block content
  .iosOverflow.cc
  .bestof
    a.ccc-logo.bestof-logo(href="/")!=icon("gmLogoSmall")
    p You've been unsubscribed from the!{' '}
      span.italic Best of Marketing Examples
      |!{' '}series.
    p Best — Harry