
extends base

block content
  .iosOverflow.cc
  .bestof
    a.ccc-logo.bestof-logo(href="/")!=icon("gmLogoSmall")
    p Hey — You've been added to my!{' '}
      span.italic 3-2-1
      |!{' '}series.
    p The first email will be with you Monday 12pm BST.
    p Cheers —!{' '}
      a(href="https://twitter.com/harrydry") Harry