.content
  width: 100%
  background: $white
  padding: 4rem 9rem
  height: calc(100% - 24rem)
  overflow-y: scroll
  p
    font-size: 1.7rem
    line-height: 1.8
    padding: 0.76rem 0
    .bold
      font-weight: 600
  img
    border: 8px solid #DDDDFF
    margin: 4rem auto
    display: block
    box-shadow: 0 15px 35px 0 rgba(50,50,93,0.10), 0 5px 15px 0 rgba(0,0,0,0.07)

.img__70
  width: 70%

.img__65
  width: 65%
