.content
  width: 100%
  background: $white
  padding: 4rem 10rem
  @media screen and (max-width: 550px)
    padding: 2rem 0rem
  p
    font-size: 1.7rem
    line-height: 1.85
    padding: 0.76rem
    .bold
      font-weight: 600
    .italic
      font-style: italic
  .speech
    line-height: 1.85
    padding: 0rem 5rem
    @media screen and (max-width: 550px)
      padding: .76rem 2rem
  .inwardSpeech
    font-style: italic
    padding: 1.2rem 5rem
    // text-align: center
  a
    color: $brand
    font-weight: 600
  img
    // border: 8px solid #DDDDFF
    border: 8px solid #ffdddd
    margin: 4rem auto
    display: block
    box-shadow: 0 15px 35px 0 rgba(50,50,93,0.10), 0 5px 15px 0 rgba(0,0,0,0.07)
    @media screen and (max-width: 550px)
      margin: 3rem auto
      width: 100%
      border: none
      border-top: 5px solid #ffdddd
      border-bottom: 5px solid #ffdddd
      box-shadow: none
  video
    border: 8px solid #ffdddd
    margin: 4rem auto
    display: block
    cursor: pointer

.img__70
  width: 70%

.img__100
  width: 100%

.img__95
  width: 95%

.img__90
  width: 90%

.img__85
  width: 85%

.img__80
  width: 80%

.img__75
  width: 75%

.img__70
  width: 70%

.img__65
  width: 65%

.img__60
  width: 60%
