p The trick to writing any cold email is that you&nbsp;
  span.bold don't want it to read like a cold email.
  | &nbsp;This one's a great example.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/andco2.png", alt="AndCo Cold Email").img__90
p There's few better ways to engage someone than&nbsp;
  span.bold to ask them for advice.
  | &nbsp;People love giving advice. It's a chance to show off their knowledge.
p Once they're disarmed you&nbsp;
  span.bold then
  | &nbsp;can break into “the pitch”. The biggest mistake people make is starting with “the pitch” straight out the gate. People tune out straight away.
p What's clever about “advice emails” is that you are still indirectly selling your product, the whole thing is just much subtler than in a classic “sales email”.
p This email saw a 60% open rate with a 40% click through rate and also got AndCo a tonne of constructive feedback about how they could improve their offering.
p Finally, it's also worth mentioning the lovely personalised touch to close. Your cold emails should never be purely extractative. Taking an interest in someone else's world goes a long way.
p For another case showing the benefits of personalisation take a look at&nbsp;
  a(href="http://localhost:7777/how-personalisation-improves-cold-emails" target="_blank") this example.
