p Coming soon
.undera
  .undera__center
    .undera__center-text Share the article
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/giveaway/free-bathing-suit-giveaway&via=GoodMarketingHQ%20&text=${encodeURI("Giveaway a “free” bathing suit. Get 750k followers")}` target="_blank")!=icon("twitter")
.addOnEmail
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Subscribe for new tips
  .mail__bc-red