p Back in 2017, Gusto sent 50,000 emails to companies with the subject line: “I’m wearing a [YOUR COMPANY] t-shirt!”.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gusto1.png", alt="Gusto Dog Cold Email").img__100
p There's a lot of good stuff going on here. Any great cold email needs a great subject line, and there's is great.
p In the 2nd line they acknowledge the fact that their cold emailing you. I like this tactic. Adressing the elephant in the room is the best way to kick it out.
p The centerpiece is obviously the photo of the founder wearing your company t-shirt.
p The key to a great cold email is to stand out whilst in a relevant way. And the line, "Anyway, this is what we do — we print fantastic quality t-shirts ... " is the perfect bridge between the creative image to the sell.
p The tweet containing the stopwatch brings the sale to life: "Fuck, in less than three minutes I could buy everyone company t-shirts " It also acts as great social proof, particularly useful given the skepticism around cold emails.