p Coming tonight
.undera
  .undera__center
    .undera__center-text Like the article?
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/coldemail/advice-emails&via=GoodMarketingHQ%20&text=${encodeURI("Try writing “advice emails” instead of sales emails")}` target="_blank")!=icon("twitter")
.addOnEmail
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get one new tip every day
  .mail__bc-red
