p Coming soon
.undera
  .undera__center
    .undera__center-text Share on Twitter
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/coldemail/funny-cold-email&via=GoodMarketingHQ%20&text=${encodeURI("How to write a funny cold email")}` target="_blank")!=icon("twitter")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 2,591
    |!{' '}marketers getting<br> 2 case studies every Monday and Friday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red