p Growing an audience by giving away free content is one of the oldest tricks in the book. We all know how it works:
p.list.list__top 1. Jane releases a free resource.
p.list 2. In exchange she asks for your email address.
p.list.list__bottom 3. And promotes her future products to you.
p Whilst I'm a fan of this approach, it limits itself to&nbsp;
  span.bold first order benefits
  | . You give your email. You get the resource.&nbsp;
  span.bold The interaction ends
  | .
p I came across a nice variant by coding teacher, @jstut, where he manages to build a referral loop in:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jstut.png", alt="JS Tut").img__90
p To receive his eBook, you have to:
p.list.list__top 1. Retweet his pinned post (promoting the book)
p.list.list__bottom 2. Enter your email.
p Not only does he grow his email list (first order benefit), he also sees his free eBook get shared all around twitter (second order benefit). Given the marginal cost to produce an eBook is zero, all you want to do is maximise distribution.
p Finally, I'd like the highlight the psychological power of stating: “Market value $34.99”. Imagine you visit the same web page but with that line removed. You might think:
p.inwardSpeech Damn, I've got to retweet to get this free eBook
p But in stating the book's market value the context changes:
p.inwardSpeech Nice, all I have to do is retweet to get an expensive eBook
.undera
  .undera__center
    .undera__center-text Like the article?
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com%2Freferral-loops-content-marketing&via=harrydry%20&text=${encodeURI("Build referral loops into your content marketing")}` target="_blank")!=icon("twitter")
.addOnEmail
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get one new tip every day
  .mail__bc-red