p Veed
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/andco1.png", alt="AndCo Cold Email").img__100
p Read the title, "Recruiting Backend Developer". Your mind thinks, "Urgh, another recruiter." Then read, "Recruiting Snowboarding Node JS Developer" Your mind thinks, "That's me."