p 16th March 2018 a coming soon page for a Kanye West themed dating site spread like wildfire, getting coverage from Fox, ABC, BBC, MTV, Complex, etc ...
video(src="https://s3.amazonaws.com/harrydry/drake.mp4" class="img__90" playsinline="playsinline" preload="auto" poster="https://s3.amazonaws.com/harrydry/poster4.jpg" controls="controls")
p In serving a hardcore niche, it was relatively easy for Yeezy Dating to get initial attention. After all, the audience of “Kanye West fans”&nbsp;
  span.bold already exists
  | . All that's left to do is to share with them.
p A&nbsp;
  a(href="https://www.reddit.com/r/Kanye/comments/82ycld/yeezydating_dating_site_for_kanye_west_fans/" target="_blank") straightforward post
  | &nbsp;announcing the site rose to the top of the r/Kanye subreddit (a forum of 250 thousand Kanye fans). From there the site was sent on to music journalists and the rest is history.
img(src="https://s3.amazonaws.com/harrydry/test7Mob.png", alt="Yeezy Dating Landing Page").img__80
p It's worth mentioning that Yeezy Dating, infamously banned Taylor Swift fans from their site. Adding on these controversial little hooks are a great way of encouraging media attention. The aim is to make the bloggers headline as&nbsp;
  span.bold easy as possible
  | &nbsp;to write:
p.inwardSpeech There's a new dating site for Kanye West fans
p is pretty good, but
p.inwardSpeech Taylor Swift fans banned from Kanye's new dating site
p is a whole new angle to work with.
p The&nbsp;
  a(href="https://www.youtube.com/watch?v=gP1kOBi9X7I" target="_blank") Fortnite case study
  | &nbsp;is another example showing the power of viral hooks.
.undera
  .undera__center
    .undera__center-text Like the article?
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/viral/yeezy-dating-serve-a-niche&via=harrydry%20&text=${encodeURI("Serve a niche. Get more attention")}` target="_blank")!=icon("twitter")
.addOnEmail
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get one new tip every day
  .mail__bc-red