extends base

block content
  .iosOverflow.nlcc
  .nlc
    img.nlc__middle(src="https://ik.imagekit.io/o08ysq9vx/lc/logo1.png", alt="")
    img.nlc__ab.nlc__1(src="https://ik.imagekit.io/o08ysq9vx/lc/fall.svg", alt="")
    img.nlc__ab.nlc__2(src="https://ik.imagekit.io/o08ysq9vx/lc/2022.svg", alt="")
    img.nlc__ab.nlc__4(src="https://ik.imagekit.io/o08ysq9vx/lc/harry.svg", alt="")
    img.nlc__ab.nlc__3(src="https://ik.imagekit.io/o08ysq9vx/lc/dry.svg", alt="")
    if (added)
      .nlc__added Just added :)
    .nlc__email__outer
      .lc3
      .nlc__email
        .nlc__email-border
        input.nlc__email-left(type="email" autofocus placeholder="Your Email").lc2
        button.lc1 Stay updated